

body {
  margin: 0;
  padding: 0;
  background-color: rgb(41, 41, 41);
  color: beige;
  font-family: sans-serif;
}

.container{
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.main{

}

.react-logo{
  width: 80px;
}

.facts{
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
  }

  &__list{
    font-size: 23px;
  }
}

.header{
  &__logo{
    width: 55px;
  }

  &__nav{
    display: flex;
    justify-content: space-between;
  }

  &__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 25px;
  }
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 30%;
  margin: 0 0 10px 0;

  a{
    color: beige;
    text-decoration: none;
  }
}