@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@100;200;300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #000000;
    font-family: sans-serif;
    // font-family: Linefont;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 7px;

    // overflow: hidden;
    background-color: #ffffff;
    // position: relative;
}

.header{
    background-color: rgb(152, 116, 211);
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff;

    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 35px 5px 20px;
    }

    &__logo-section{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__logo{
        width: 30px;
        filter: invert(1);
    }

    &__logo-text{

    }

    &__text{
        font-family: Linefont;
    }
}

.main{
    &__box{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    &__inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    &__input{
        width: 100%;
        border: 2px solid rgb(152, 116, 211);
        background: rgba(152, 116, 211, 0.384);
        border-radius: 5px;
        padding: 5px;
        font-weight: bold;
        color: rgb(152, 116, 211);
        transition: 0.4s;

        &:focus{
            outline: none;
            background: rgba(152, 116, 211, 0.199);
            transition: 0.4s;
            // border: 1px solid red;
        }
    }

    &__button{
        border: 2px solid rgb(190, 160, 240);
        background: rgb(152, 116, 211);
        border-radius: 5px;
        color: #ffffff;
        padding: 5px;
        transition: 0.4s;
        font-weight: bold;

        &:hover{
            transition: 0.4s;
            cursor: pointer;
            background: rgb(111, 74, 170);
        }
    }
}